@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

}

.text-center{
    text-align: center;
}

.title-main{
    font-weight: 600;
    font-size: 32px;
}

.color-blue{
    color: blue;
}

.background-blue{
    background-color: #3662FF;
    color: white;
    font-size: 20;
    line-height: 40px;
}

.font-500{
    font-weight: 500;
}

.underline{
    text-decoration: underline;
    line-height: 40px;
}

.background-black{
    background-color: black;
    color: white;
}